$xs: 'only screen and (max-width : 576px)';
$s: 'only screen and (max-width : 768px)';
$m: 'only screen and (max-width : 992px)';
$l: 'only screen and (max-width : 1200px)';
$xl: 'only screen and (min-width : 1200px)';
